<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <div class="panel panel-primary">
    <div style="background-color: rgb(52,58,64); margin-top: 75px" class="panel-heading">
      <h2>Liste des flux inter-serveurs</h2>
      <button (click)="addFlux()" class="btn btn-success" style="margin-left:20px; float: right; margin-top:45px">Ajouter</button>
    </div>
    <div class="panel-body" >
  
      <table class="table table-striped" style="margin-right:5px;margin-top:80px;border-color:black;">
        <thead>
        <tr>
          <th>Serveur source</th>
          <th>Serveur destination</th>
          <th>Port</th>
          <th>Projet</th>
          <th>Durée</th>
          <th>Description</th>
          <th>Date d'ouverture</th>
          <th>Statut</th>
          
        </tr>
        </thead>
        <tbody>
        <tr> 
        
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  
