<app-back-office></app-back-office>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <br>
  <div class="panel panel-primary">
    <div style="background-color: rgb(52,58,64); margin-top: 75px" class="panel-heading">
      <h2>Liste des flux inter-serveurs</h2>
      <button (click)="addFlux()" class="btn btn-success" style="margin-left:20px; float: right; margin-top:45px"><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter</button>
      <button (click)="validate()" class="btn btn-info" style="margin-left:20px; float: right; margin-top:45px">Demandes crées</button>
    </div><br>
    <div style="margin-left: 350px;">
    <span class="glyphicon glyphicon-search"></span>
      <mat-form-field class="search-form-field"  >
         <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" >
         <button class="btn btn-info"  *ngIf="searchKey"  (click)="onSearchClear()">
         </button>
      </mat-form-field>
    </div>
    <div class="panel-body" >
       
      <table class="table table-striped table-bordered" style="margin-right:20px;margin-top:50px;border-color:black;">
        <thead class="thead-light">
        <tr>
          <th>Adresse source</th>
          <th>Adresse destination</th>
          <th>Port</th>
          <th>type flux</th>
          <th>Durée</th>
          <th>Périodicité</th>
          <th>Description</th>
          <th>Date d'ouverture</th>
          <th>Nature d'échange</th>
          <th>Statut</th>
          
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>192.168.100.20</td>
            <td>192.168.120.1</td>
            <td>5000</td>
            <td>interne</td>
            <td>10</td>
            <td>25</td>
            <td>ouverture flux</td>
            <td>20/07/2020</td>
            <td>projet</td>
            <td>entrant</td>
          </tr>
          
          <tr *ngFor="let flux of fluxs | async" class="{{flux.class}}">
          
            <td>{{ flux.adresse_source }}</td>
            <td>{{ flux.adresse_destinataire }}</td>
            <td>{{ flux.port }}</td>
            <td>{{ flux.type_flux }}</td>
            <td>{{ flux.duree }}</td>
            <td>{{ flux.periodicite }}</td>
            <td>{{ flux.description}}</td>
            <td>{{ flux.dateOuverture }}</td>
            <td>{{ flux.natureEchange }}</td>
            <td>{{ flux.statut }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br> <br>
    <!--pagination-->

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  
   
    <div *ngIf="showAddFlux" class="formStyleContainer">
      <div class="formStyle" >
      <app-create-opening-request (closeAll)="closeAddFromAdd($event)"></app-create-opening-request>
        <button style="margin-left: 20%;margin-top:-13%;float:bottom" class="btn btn-dribbble" (click)="closeAdd()">Cancel</button>
      </div>
    </div>
  </div>
  <br/><br> <br><br/>
  <app-footer></app-footer>
