<app-back-office></app-back-office>
 <div id="container">

  <div [hidden]="submitted">
    <form #myForm="ngForm" [formGroup]="createForm" (ngSubmit)="closeThis()" *ngIf="server">
      <h1>Création d'un serveur</h1>

      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" placeholder="Entrer l'id du serveur..."  [(ngModel)]="server.id_serveur" id="id" required name="id" *ngIf="createForm.get('id').hasError('required')">
      </div>

      <div class="form-group">
        <label for="Intitule">Intitulé</label>
        <input type="text" class="form-control" id="intitule" placeholder="Entrer l'intitulé du seveur..." required
          [(ngModel)]="server.intitule" name="intitule">
      </div>
      <div class="form-group">
        <label for="port">Port</label>
       
        <input type="number" class="form-control" id="port" maxlength="5" placeholder="Entrer un port..." required
          [(ngModel)]="server.port" name="port">
        
      </div>  

      <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control" id="url" placeholder="Entrer l'URL du serveur.." required
          [(ngModel)]="server.url" name="url">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select id="type" required [(ngModel)]="server.type" name="Type" class="form-control" style="height:35px;">
          <option value="source">source</option>
          <option value="destinataire">destinataire</option>
        </select>

      </div>
      <div class="form-group">
        <label for="projet">projet</label>
        <select id="projet" required [(ngModel)]="server.intitule_projet" name="projet" class="form-control"
          style="height:35px;">
          <option value="pj1">pj1</option>
          <option value="pj2">pj2</option>
          <option value="pj3">pj3</option>
        </select>

      </div>

      <div class="form-group">
        <label for="statut">Statut</label>
        <select id="statut" required [(ngModel)]="server.statut" name="Statut" class="form-control"
          style="height:35px;">
          <option value="stat1" selected>ouvert</option>
          <option value="stat2">fermé</option>
        </select>

      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>ajouter</button>
      </div>
    </form>
  </div>

  <br /><br>
  <app-footer></app-footer>
 </div>
  
 <!--<form [formGroup]="createForm"  (ngSubmit)="closeThis()" *ngIf="server">
    <h1>Création d'un serveur</h1>
    
      <table align="center" >
        <tr>
          <mat-form-field appearance="outline">
           <td><label>Id</label></td>
           <td><input matInput
                     id="id"
                     type="number"
                     #id
                     required
                     placeholder="Id"
                     formControlName="id" [(ngModel)]="server.id_serveur" >
              <mat-error *ngIf="createForm.get('id').hasError('required')">ID required</mat-error>
             </td>
            </mat-form-field>
         
        </tr>
        <tr>
          
            <mat-form-field appearance="outline">
              <td> <label>Intitule </label></td>
              <td><input matInput
                     
                     id="intitule"
                     type="text"
                     #intitule
                     required
                     placeholder="Intitule"
                     formControlName="intitule" [(ngModel)]="server.intitule"
              >
              <mat-error *ngIf="createForm.get('intitule').hasError('required')">intitule required</mat-error>
            </td>
            </mat-form-field>
         
        </tr>
        <tr>
          
            <mat-form-field appearance="outline">
              <td><label>Port</label></td>
              <td><input matInput
                     id="port"
                     type="number"
                     #port
                     required
                     placeholder="port"
                     formControlName="port" [(ngModel)]="server.port" >
              <mat-error *ngIf="createForm.get('port').hasError('required')">port required</mat-error>
          </td>
            </mat-form-field>
          
        </tr>
        <tr>
          
            <mat-form-field appearance="outline">
              <td> <label>URL</label></td>
              <td><input matInput
                    type="url"
                     id="url"
                     #url
                     required
                     placeholder="url"
                     formControlName="url" [(ngModel)]="server.url" >
              <mat-error *ngIf="createForm.get('url').hasError('required')">url required</mat-error>
            </td>
          </mat-form-field>
          
        </tr>
        <tr>
         
           <td><label>Type</label></td>
           <td> <mat-button-toggle-group formControlName="Type" appearance="outline" [(ngModel)]="server.type" name="fontStyle" aria-label="Font Style">
             <mat-button-toggle value="interne" >Interne</mat-button-toggle>
             <mat-button-toggle value="externe" >Externe</mat-button-toggle>
            </mat-button-toggle-group>
          </td>
     
        </tr>
        <tr>
          <td>
            <label>Statut</label></td>
            <td>
            <mat-button-toggle-group formControlName="Statut" appearance="outline" [(ngModel)]="server.statut" name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="entrant" >entrant</mat-button-toggle>
              <mat-button-toggle value="sortant" >sortant</mat-button-toggle>
            </mat-button-toggle-group>

          </td>
        </tr>


        <tr>
          <td align="center">
            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span>Ajouter</button>
          </td>
        </tr>

      </table>
  </form>
</div>-->
 
