<app-back-office></app-back-office>
<div id="container">

  
  <div [hidden]="submitted" >
  <form #myForm="ngForm" (ngSubmit)="closeThis()">
    <h1>Création d'un serveur</h1>
  <div class="form-group">
  <label for="id">ID</label>
  <input type="number" class="form-control" id="id" required  name="id" >
  </div>
  
  <div class="form-group">
  <label for="Intitule">Intitule</label>
  <input type="text"class="form-control" id="intitule" required [(ngModel)]="server.intitule" name="intitule" >
  </div>
  <div class="form-group">
  <label for="port">Port</label> 
  <input type="number" class="form-control" id="port" required [(ngModel)]="server.port" name="port" >
  </div>
  
  <div class="form-group">
  <label for="url">URL</label> 
  <input type="text"class="form-control" id="url" required [(ngModel)]="server.url" name="url">
  </div>
  <div class="form-group">
      <label for="type">Type</label> 
      <select id="type" required [(ngModel)]="server.type" name="Type" class="form-control">
        <option value="type1">source</option><option value="type2">destinataire</option></select>
      
  </div>
  <div class="form-group">
  <label for="projet">projet</label> 
  <select id="projet" required [(ngModel)]="server.projet" name="projet" class="form-control" >
    <option value="pj1">pj1</option><option value="pj2">pj2</option><option value="pj3">pj3</option></select>
  
  </div>

  <div class="form-group">
    <label for="statut">Statut</label> 
    <select id="statut" required [(ngModel)]="server.statut" name="Statut" class="form-control" >
      <option value="stat1" selected >ouvert</option><option value="stat2">fermé</option></select>
    
  </div>
  
  <div class="btn-group">
  <button type="submit" class="btn btn-success">ajouter</button>
  </div>
  </form>
  </div>

    <br/><br> 
<app-footer></app-footer>
 </div>
 



