<div class="container">
  <nav  style="width:100%;left:0;border-radius:0px;padding-top:10px;position: fixed" class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
      <ul class=" navbar-nav ">

       <li class="nav-item">
          <a  routerLink="/admin/ServerList" class="btn btn-info" role="button" routerLinkActive="active" >Gestion des serveurs</a>
        </li>
        <li class="nav-item">
          <a  routerLink="/admin/FluxList" class="btn btn-info" role="button" routerLinkActive="active">Gestion des flux</a>
        </li>
        <li class="nav-item">
          <a  routerLink="/admin/dashboard" class="btn btn-info" role="button" routerLinkActive="active">Tableau de bord</a>
        </li>
        <li class="nav-item" style="margin-left: 10px;margin-top: 2px">
          <button style="height: 99%;padding-top: -7px" routerLink="/Login" class="btn btn-danger mb- 2" (click)="logOut()"><span style="margin-right: 10px;" class="glyphicon glyphicon-log-out"></span>Sign out</button>
        </li>
      </ul>
  </nav>
</div>
     

  


