<app-back-office></app-back-office>
<div id="container">
  <div class="container-fluid" style="background-color:rgb(52,58,64)" >
      <div class="row" style="margin-left:80px;" >
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon" >
                      <div class="card-icon" >
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Serveurs </p>
                      <h3 class="card-title">50
                          <small>serveurs</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="#">Attention...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon" >
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Projets
                      </p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#">Attention...</a>
                    </div>
                </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon" >
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">Flux
                    </p>
                    <h3 class="card-title">250</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons text-danger">update</i>
                      <a href="#">Modifications...</a>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <br><br>
      <div class="row" style="margin-right:60px;">
        <div class="col-md-4" >
            <div class="card card-chart">
                <div class="card-header card-header-success" style="background-color:#b4dbeb;">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Flux Par Serveurs</h4>
                   
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning" style="background-color:#b4dbeb;">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Flux par Projets</h4>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger" style="background-color:#b4dbeb;">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Serveurs par projets</h4>
                </div>
                
            </div>         
         </div>
    </div>
              <br><br>       
          <div class="col-lg-6 col-md-12" #TABLE #table>
              <div class="card">
                  <div class="card-header " >
                      <h4 class="card-title">Flux par Serveurs</h4>
                      <button (click)="ExportTOExcel()" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;ExportEnExcel</button> </div>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table" style="border:1px black;">
                          <thead class="text-info">
                              <th>Id</th>
                              <th>Intitule</th>
                              <th>Type</th>
                              <th>Adresse Source</th>
                              
                          </thead>
                          <tbody>
                            
                              <tr *ngFor="let f of flux" style="color:white">
                                  <td>{{f.Id}}</td>
                                  <td>{{f.Intitule}}</td>
                                  <td>{{f.Type}}</td>
                                  <td>{{f.AdresseSource}}</td>
                                  
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
              </div>

                  
              <div class="col-lg-6 col-md-12" #TABLE1 #table1>
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Serveurs Par Projets</h4>
                          <button (click)="ExportTOExcel1()" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;ExportEnExcel</button> </div>
                      </div>
                      <div class="card-body table-responsive">
                          <table class="table" style="border:1px black;">
                                <tr>
                                  <th class="text-info">Projets/serveur</th>
                                  <th style="color:white">S1</th>
                                  <th style="color:white">S2</th>
                                 </tr>
                                 <tr style="color:white">
                                    <td><b>P1</b></td>
                                    <td>3 flux</td>
                                    <td>2 flux</td>
                                   </tr> 
                                   <tr style="color:white">
                                      <td><b>P2</b></td>
                                      <td>1 flux</td>
                                      <td>4 flux</td>   
                                  </tr>

                          </table>
                      </div>
                  </div>
          </div>
      </div>
      <br/><br> <br>
      <app-footer></app-footer>
 

