<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="panel panel-primary">
  <div style="background-color: rgb(52,58,64); margin-top: 75px;margin-left:10px;" class="panel-heading">
    <h2>Server Details</h2> 
  </div>
  
 <div *ngIf="server" style="margin-left:10px;">
  <div>
    <label><b>Id: </b></label> {{server.id}}
  </div>
  <div>
    <label><b>Intitule: </b></label> {{server.intitule}}
  </div>
  <div>
    <label><b>Port: </b></label> {{server.port}}
  </div>  
  <div>
    <label><b>Url: </b></label> {{server.url}}
  </div><div>
    <label><b>Type: </b></label> {{server.type}}
  </div><div>
    <label><b>Projet: </b></label> {{server.projet}}
  </div>
  <div>
    <label><b>Statut: </b></label> {{server.statut}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Server List</button><br>

