<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div class="row">

      <hr class="clearfix w-100 d-md-none">

    </div>
   

  </div>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="" class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f" title="Facebook Page"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a  href="" class="btn-floating btn-tw mx-1">
        <i class="fab fa-youtube" title="Youtube Channel"> </i>
      </a>
    </li>

  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> All rights reserved</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
